---
# Default values for Zookeeper operator
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# These values are overridden when the Zookeeper operator is included within a
# subchart
global:
  # The private docker registry hosting containers for Zookeeper Operator
  registry: emccorp
  #
  # Specifies which namespace the Operator should watch for new ClusterResource
  # resources
  # Default: true == Watch ALL namespaces
  watchAllNamespaces: true

  # Install the CRD during the chart installation.  This should be peformed by
  # default, but if there are multiple instances of zookeeper-operator on the same
  # cluster, then it should be disabled.
  installCRD: true

# The number of replicas for the Zookeeper Operator deployment
replicaCount: 1

# The image configured for the Zookeeper Operator
image:
  repository: zookeeper-operator
  tag: 0.24.0
  pullPolicy: Always
