---
tag: 0.71.2
global:
  registry: emccorp
  # Default: true == Watch ALL namespaces
  watchAllNamespaces: true
  # Platform:
  platform: Default

objectscaleGateway:
  image:
    pullPolicy: IfNotPresent
    repository: objectscale-gateway
    tag: # rfw-update-this objectscale-gateway-docker-image
    #livenessProbe:
    # probePath: /usr/local/bin/checkRunningCertificate.bash
  replicaCount: 1
  external:
    service:
      # Type of Kubernetes service to create: ClusterIP, NodePort, or LoadBalancer
      type: LoadBalancer

      # Specify the service port configuration for the s3 service
      ports:
        - name: https-external
          port: 443
          targetPort: 443
          protocol: TCP

      # loadBalancerIP:     # select specific load balancer IP of the connection
      # externalHostnames:
      #   - objectscale-vsp.example.com
      # externalIPAddresses:
      #   - 203.0.113.10
      #   - 203.0.113.30
      # externalIPv6Addresses:
      #   - 2001:0db8:0000:0000:0000:0000:0000:0001

    tls:
      # Type of certificate signing: SelfSigned, KubernetesSigned, or ExternallySigned
      certificateType: KubernetesSigned

      certificate: {}
      # publicKey: < server side customer certificate>
      # privateKey: <private key for server side cert>
      # password: # cert password (optional)
      # authority: |-  # (optional)
      #   rootCA: xxxx
      #   intermediateCA:      # provide the intermediate CA here (optional)

      signingRequest:
        commonName: objectscale-gateway
        # email: insertyouremail@example.com.local
        names:
          country: USA
          state: MA
          locality: Hopkinton
          organization: Dell EMC
          organizationalUnit: ObjectScale
        keyAlgorithm: RSA       # algorithm use to generate the key (ex. RSA, ECDSA)
        keySize: 2048           # size of the key in bits (ex. 2048, 4096, 8192)

  internal:
    service:
      # Type of Kubernetes service to create: ClusterIP, NodePort, or LoadBalancer
      type: LoadBalancer

      # Specify the service port configuration for the s3 service
      ports:
        - name: https-internal
          port: 4443
          targetPort: 4443
          protocol: TCP

      # loadBalancerIP:     # select specific load balancer IP of the connection
      # externalHostnames:
      #   - objectscale-vsp.example.com
      # externalIPAddresses:
      #   - 203.0.113.10
      #   - 203.0.113.30
      # externalIPv6Addresses:
      #   - 2001:0db8:0000:0000:0000:0000:0000:0001

    tls:
      # Type of certificate signing: SelfSigned, KubernetesSigned, InternallySigned or ExternallySigned
      certificateType: InternallySigned

      certificate: {}
      # publicKey: < server side customer certificate>
      # privateKey: <private key for server side cert>
      # password: # cert password (optional)
      # authority: |-  # (optional)
      #   rootCA: xxxx
      #   intermediateCA:      # provide the intermediate CA here (optional)

      signingRequest:
        commonName: objectscale-gateway-internal
        # email: insertyouremail@example.com.local
        names:
          country: USA
          state: MA
          locality: Hopkinton
          organization: Dell EMC
          organizationalUnit: ObjectScale
        keyAlgorithm: RSA       # algorithm use to generate the key (ex. RSA, ECDSA)
        keySize: 2048           # size of the key in bits (ex. 2048, 4096, 8192)
