---
tag: 0.79.0-1240
global:
  registry: emccorp
  # Default: true == Watch ALL namespaces
  watchAllNamespaces: true
  # Platform:
  platform: Default

image:
  pullPolicy: IfNotPresent
  repository: fedsvc
  tag: 3.7.0.0-73.5cdbcc8 # rfw-update-this fedsvc-docker-image
livenessProbe:
  probePath: /fedsvchealthcheck
readinessProbe:
  probePath: /fedsvchealthcheck
replicaCount: 3
service:
  httpPort: 9500
  httpsPort: 443
  type: ClusterIP

# Atlas Cluster configuration for ObjectScale persistent Storage
atlas:

  # Disables the affinity rules for the Atlas Cluster, allowing it to run
  # multiple replicas on a single node
  disableAntiAffinity: false

  # Configure the container image
  image:
    pullPolicy: IfNotPresent
    repository: atlas
    tag: 1.1.4-2.g544b0d4 # rfw-update-this atlas-docker-image

  # Persistent storage options for Atlas Cluster
  persistence:
    size: 10Gi

  # Replica count for ObjectScale Federation Atlas Cluster
  replicaCount: 3

  # Atlas pods limits and requests memory setting
  resources:
    limits:
      memory: 1000Mi
    requests:
      memory: 256Mi
