import "http"
from(bucket: "monitoring_last")
|> filter(fn: (r) => r._measurement == "eventsvc_Alerts_DT")
|> range(start: {{ .Start }}, stop: {{ .Stop }})
|> last()
|> pivot(rowKey: ["_time"], columnKey: ["_field"], valueColumn: "_value")
|> last(column: "UnackCritical")
|> keep(columns: ["UnackCritical", "UnackError", "UnackInfo", "UnackWarning", "_stop"])
|> sum(columns: ["UnackCritical", "UnackError", "UnackInfo", "UnackWarning"])
|> rename(columns: {_stop: "_time"})