import "http"

// Disk free space per SS/PD/SSTableLevel

freeSpace = from(bucket: "monitoring_main")
|> filter(fn: (r) => r._measurement == "ssm_sstable_SSTable_SS_partitions_PD" and r._field == "freeSpace")
|> range(start:{{ .Start }},stop:{{ .Stop }})
|> last()
|> keep(columns: ["PD", "SS", "SSTable", "_value", "_stop"])
|> last()
|> rename(columns: {_stop: "_time"})

freeL1 = freeSpace
|> filter(fn: (r) => r.SSTable =~ /_1:$/)
|> keep(columns: ["_value", "SS", "PD", "_time"])
|> map(fn: (r) => ({SSTableLevel: "1", freeSpace: r._value}))

freeL2 = freeSpace
|> filter(fn: (r) => r.SSTable =~ /_2:$/)
|> keep(columns: ["_value", "SS", "PD", "_time"])
|> map(fn: (r) => ({SSTableLevel: "2", freeSpace: r._value}))
union(tables: [freeL1, freeL2])