import "http"
from(bucket: "monitoring_main")
|> filter(fn: (r) => r._measurement == "cm_EC_Statistics" and r._field == "data_ec_encoded_alive")
|> range(start: {{ .Start }}, stop: {{ .Stop }})
|> derivative(nonNegative: true)
|> last()
|> keep(columns:["_stop", "_value"])
|> sum()
|> set(key: "_field", value: "coding_rate")
|> map(fn: (r) => ({_time:{{ .Stop }},
                        _field: r._field,
                        _value: r._value,
                        }))
|> pivot(rowKey: ["_time"], columnKey: ["_field"], valueColumn: "_value")