import "http"
from(bucket: "monitoring_vdc")
|> filter(fn: (r) => r._measurement == "{{ .Params.measurement }}")
|> range(start:{{ .Start }},stop:{{ .Stop }})
// following 2 lines are to fix MONITORING-568
|> rename(columns: {_value: "_value"})
|> range(start:{{ .Start }},stop:{{ .Stop }})
|> {{ .Params.aggregation }}()
|> rename(columns: {_start: "_time"})
|> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")
|> group()
