import "http"
from(bucket: "monitoring_main")
|> filter(fn: (r) => r._measurement == "{{ .Params.measurement }}")
|> range(start:{{ .Start }},stop:{{ .Stop }})
|> keep(columns:["_time", "_field", "_value", "host", "{{ .Params.dimention_name }}"])
|> derivative(nonNegative: true)
|> window(every:5m)
|> mean()
|> drop(columns:["host"])
|> sum()
|> drop(columns:["_stop"])
|> rename(columns: {_start: "_time"})
|> group(columns:["{{ .Params.dimention_name }}"])
|> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")
|> group()
|> range(start:{{ .KeepStart }},stop:{{ .Stop }})