import "http"
from(bucket: "monitoring_main")
|> filter(fn: (r) => r._measurement == "{{ .Params.measurement }}")
|> range(start:{{ .Start }},stop:{{ .Stop }})
|> keep(columns:["_time", "_field", "_value", "host", "head", "namespace"])
|> difference(nonNegative: true)
|> fill(column: "_value", value: 0)
|> window(every:5m)
|> drop(columns:["host"])
|> sum()
|> drop(columns:["_stop"])
|> rename(columns: {_start: "_time"})
|> map(fn: (r) => ({namespace: r.head + ":" + r.namespace, _value: r._value}))
|> drop(columns:["head"])
|> group(columns:["namespace"])
|> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")
|> group()
|> rename(columns: { {{ .Params.column_rename }} })
|> range(start:{{ .KeepStart }},stop:{{ .Stop }})