---
# Default values for objectscale-vsphere.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# These global settings relate to both objectscale-vsphere and objectscale-graphql
global:
  # sets the name of the storage class and storage policy that should be used by default
  storageClassName: dellemc-objectscale-highly-available

  # Name of the target platform
  # By setting this value all necessary resources for ecs-flex will be created and configured accordingly.
  # Valid values are
  # "VMware" - VMWare Persistent Services Platform
  # "Vmware-PKS" - PKS platform with vSphere UI integration
  # "Atlantic" - Project Atlantic Bare-Metal Kubernetes platform
  # "Default" - All others
  platform: VMware

  # Name of a Kubernetes secret with Docker credentials for the private registry
  # registrySecret: ecs-flex-registry

  # The private docker registry hosting containers for ECS Flex
  registry: emccorp

  # Default: true == Watch ALL namespaces
  watchAllNamespaces: true

  # Enable log forwarding to central objectscale rsyslog
  rsyslog_enabled: true
  # Name of the objectscale-manager release used by rsyslog sidecars
  objectscale_release_name: objectscale-manager

# The default docker tag and pull policy for objectscale-vsphere and other containers
tag: 0.75.0
pullPolicy: IfNotPresent
