---
tag: 0.70.3
global:
  registry: emccorp
  # Default: true == Watch ALL namespaces
  watchAllNamespaces: true
  # Platform:
  platform: Default

fedsvc:
  image:
    pullPolicy: IfNotPresent
    repository: fedsvc
    # tag: stable
  livenessProbe:
    probePath: /fedsvchealthcheck
  readinessProbe:
    probePath: /fedsvchealthcheck
  replicaCount: 3
  service:
    port: 9500
    type: LoadBalancer
