---
tag: 0.74.0
global:
  registry: emccorp
  # Default: true == Watch ALL namespaces
  watchAllNamespaces: true
  # Platform:
  platform: Default

fedsvc:
  image:
    pullPolicy: IfNotPresent
    repository: fedsvc
    tag: 3.7.0.0-52.71ea152 # rfw-update-this fedsvc-docker-image
  livenessProbe:
    probePath: /fedsvchealthcheck
  readinessProbe:
    probePath: /fedsvchealthcheck
  replicaCount: 3
  service:
    port: 9500
    type: ClusterIP
# Atlas Cluster configuration for ObjectScale persistent Storage
atlas:

  # Disables the affinity rules for the Atlas Cluster, allowing it to run
  # multiple replicas on a single node
  disableAntiAffinity: false

  # Configure the container image
  image:
    pullPolicy: IfNotPresent
    repository: atlas
    tag: 1.1.3 # rfw-update-this atlas-docker-image

  # Persistent storage options for Atlas Cluster
  persistence:
    size: 1Gi

  # Replica count for ObjectScale Federation Atlas Cluster
  replicaCount: 3
