apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "atlas-operator.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "atlas-operator.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "atlas-operator.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "atlas-operator.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
{{ include "common-monitoring-lib.logging-inject-labels" . | indent 8 }}
    spec:
      serviceAccountName: atlas-operator
      {{- if .Values.global.registrySecret }}
      imagePullSecrets:
        - name: {{ .Values.global.registrySecret }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.global.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          args: ["--enable-leader-election"]
          env:
            - name: WATCH_NAMESPACE
{{- if eq .Values.global.watchAllNamespaces true }}
              value: ""
{{- else }}
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
{{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
