---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: objectscale-graphql
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: objectscale-manager
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: objectscale-graphql
    app.kubernetes.io/part-of: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name}}
    operator: objectscale-operator
    product: objectscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: objectscale-manager
      app.kubernetes.io/component: objectscale-graphql
  template:
    metadata:
      labels:
        app.kubernetes.io/name: objectscale-manager
        app.kubernetes.io/component: objectscale-graphql
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/part-of: {{ .Release.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        release: {{ .Release.Name}}
        operator: objectscale-operator
        product: objectscale
{{ include "common-lib.labels-sp-integrated-all" . | indent 8}}
      annotations:
{{ include "common-lib.vsphere-emm-integrated_annotation" . | indent 8}}
    spec:
      serviceAccountName: objectscale-api
      containers:
      - name: objectscale-graphql
{{- if .Values.debug}}
        image: {{ .Values.global.registry }}/{{ .Values.image.repository }}-debug:{{ default .Values.tag .Values.image.tag }}
{{- else }}
        image: {{ .Values.global.registry }}/{{ .Values.image.repository }}:{{ default .Values.tag .Values.image.tag }}
{{- end }}
        imagePullPolicy: {{ default .Values.pullPolicy .Values.image.pullPolicy }}
{{- if .Values.debug}}
        ports:
        - containerPort: 40000
          name: debug
          protocol: TCP
        securityContext:
          capabilities:
            add: ["SYS_PTRACE"]
{{- end }}
        env:
        - name: OBJSTORE_AVAILABLE_VERSIONS
          value: {{ .Values.objectStoreAvailableVersions | toJson | quote }}
        - name: GRAPHQL_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: WATCH_NAMESPACE
{{- if eq .Values.global.watchAllNamespaces true}}
          value: ""
{{- else }}
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
{{- end }}
        - name: EVENT_PAGINATION_SOURCE
          value: {{ default "GRAPHQL" .Values.eventPaginationSource }}
        - name: GLOBAL_REGISTRY
          value: {{ .Values.global.registry }}
        {{- if .Values.global.registrySecret }}
        - name: GLOBAL_REGISTRY_SECRET
          value: {{ .Values.global.registrySecret }}
        {{- end }}
        - name: LICENSE_CHART_VERSION
          value: {{ default "1.1.0" .Values.decks.licenseChartVersion }}
        - name: SUPPORTASSIST_CHART_VERSION
          value: {{ default "2.0.55" .Values.decks.supportAssistChartVersion }}
        - name: SRSGATEWAY_CHART_VERSION
          value: {{ default "1.1.0" .Values.decks.srsGatewayChartVersion }}
        - name: OPERATOR_NAME
          value: objectscale-operator
        - name: MANAGER_RELEASE_NAME
          value: {{ .Values.managerReleaseName }}
        {{- if (eq .Values.global.platform "VMware") }}
        - name: VSPHERE_SERVICE_PREFIX
          value: VSPHERE_SERVICE_PREFIX_VALUE
        {{- end }}
        {{- if .Values.global.storageClassName }}
        - name: STORAGE_CLASS_NAME
          value: {{ .Values.global.storageClassName }}
        {{- end }}
        - name: LOG_DIRECTION
{{- if .Values.logReceiver.type }}
          value: file
{{- else }}
          value: stdout
{{- end }}
        - name: HELM_CONTROLLER_ENDPOINT
          value: http://{{ .Release.Name }}-installer
        - name: HELM_CONTROLLER_REST_CREDENTIALS
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-rest-credentials
              key: credentials
{{- if .Values.withPlayground }}
        args:
          - "-P"
{{- end }}
{{- if not .Values.logReceiver.type }}
{{ include "common-monitoring-lib.rsyslog_client_sidecar_stdout" . | indent 6 }}
{{- end }}
{{- if ne .Values.global.platform "VMware"}}
    {{- if .Values.logReceiver.type}}
      - name: fluentbit-agent
        image: {{ .Values.global.registry }}/{{ .Values.fluentbitAgent.image.repository }}:{{ default .Values.tag .Values.fluentbitAgent.image.tag }}
        imagePullPolicy: {{ default .Values.pullPolicy .Values.fluentbitAgent.image.pullPolicy }}
        env:
          - name: POD
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: RELEASE_NAME
            value: {{ .Release.Name }}
          - name: IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        volumeMounts:
        - name: log
          readOnly: true
          mountPath: /var/log
        - name: config
          mountPath: /fluent-bit/etc
      volumes:
        - name: log
          emptyDir: {}
        - name: config
          configMap:
            name: graphql-logs-config
    {{- end }}
{{- end }}
{{- if not .Values.logReceiver.type }}
      volumes:
{{ include "common-monitoring-lib.rsyslog_client_volumes" . | indent 6 }}
{{- end }}
