---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: objectscale-iam
  labels:
    {{- include "iam.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "iam.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "iam.selectorLabels" . | nindent 8 }}
    spec:
    {{- if .Values.global.registrySecret }}
      imagePullSecrets:
        - name: {{ .Values.global.registrySecret }}
      {{- with .Values.imagePullSecrets }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- else }}
      {{- with .Values.imagePullSecrets }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
      containers:
      - name: iam
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "atlas,flex,dns"
        - name: ATLAS_SERVICE_HOSTNAME
          value: {{ include "iam.name" . }}-atlas-client
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: MY_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        image: {{ default  .Values.global.registry .Values.image.registry }}/{{ .Values.image.repository }}:{{ default .Values.tag .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - name: http
            containerPort: 9401 
            protocol: TCP
        livenessProbe:
            httpGet:
                path: {{ .Values.livenessProbe.probePath }}
                port: http
            failureThreshold: {{ .Values.livenessProbe.failureThreshold | default 3 }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds | default 60 }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds | default 60 }}
        readinessProbe:
            httpGet:
                path: {{ .Values.readinessProbe.probePath }}
                port: http
            failureThreshold: {{ .Values.readinessProbe.failureThreshold | default 3 }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds | default 60 }}
            initialDelaySeconds: {{ .Values.readinessProbe.iinitialDelaySeconds | default 60 }}


